/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-create-block-lite-youtube {
	overflow: hidden;
	max-height: 100%;
	margin: auto;

	iframe {
		aspect-ratio: var(--video-aspect-ratio);
	}

	figure {
		position: relative;
		aspect-ratio: inherit;
		margin: 0;
		aspect-ratio: var(--img-aspect-ratio);
		width: 100%;
		height: 100%;

		.thumb {
			width: 100%;
			aspect-ratio: var(--img-aspect-ratio);
			object-fit: cover;
			object-position: center;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			inset: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			aspect-ratio: var(--img-aspect-ratio);

			img {
				width: 64px;
				height: 64px;
			}
		}
	}
}
